.body{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input{
    width: 70%;
    margin-right: 10px;
}
.selectColor{
    width: 18%;
    position: relative;
    margin-right: 10px;
}
.span {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.colorPicker{
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
}
.selectedColor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}